h1 {
  font-family: swanky and moo moo;
  font-size: 250px;
  text-align: center;
}

p {
  font-family: swanky and moo moo;
  font-size: 25px;
  text-align: center;
  font-variant-caps: all-petite-caps;
}

h2 {
  font-family: swanky and moo moo;
  font-size: 100px;
  text-align: center;
}

h3 {
  font-family: swanky and moo moo;
  font-size: 100px;
  text-align: center;
}

body {
  background-color: lightgray 
}